@import '../../../css/abstracts/abstract-dir';
@import '../../../css/base/base-dir';
@import '../../../css/utility/utility-dir';

.txt_balence {
    text-align: center;
    font-size: $font-size-base-px + 4;
    color: $theme-color;
    font-weight: 600;
    background: #0b76c914;
    border: 1px dashed $theme-color;
    border-radius: 7px;
    padding: 50px;
    box-shadow: 0px 0px 20px 0px #8080802e;

    @include sm {
        padding: 15px;
    }
}

.line {
    height: 70px;
    background: $theme-color;
    width: 2px;
    position: absolute;
    left: 0;
    top: 35%;
    transform: translate(50%);
}

.bg_row {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 10px;
}

.input_code {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: unset;
    padding: 10px;
    animation: ease-out;
}

input.me-2.radiobtn {
    height: 22px;
    width: 22px;
}

.select_color {
    color: #ccc;
}

.sigCanvas {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.signCan {
    border-radius: 10px;
    position: relative;
}

.clearsig {
    position: absolute;
    bottom: 32px;
    right: 5px;

    @include sm-d {
        bottom: 30px;
        right: 3px;
    }
}


@media(max-width:991px) {
    .react-tabs__tab {
        margin-top: 5px;
    }

    .react-tabs__tab-list {
        display: unset;
    }

    .Tabs {
        margin-top: 25px;
    }
}