@import '../../css/abstracts/abstract-dir';
@import '../../css/base/base-dir';
@import '../../css/utility/utility-dir';

.inventory_tab {
    .nav-item {
        padding: 0 6px;
        position: relative;
    }

    .custom_tab {
        width: 165px;
        display: inherit;
        text-align: center;
        padding: 10px !important;
        list-style: none;
        text-align: center;
        cursor: pointer;
        transition: all 0.7s;
        color: #666666 !important;
        background: $color-white;
        border: 1px solid #CCCCCC !important;
        border-radius: 10px !important;
        text-decoration: none;
    }

    .custom_tab.active {
        background-color: $theme-color !important;
        color: $color-white !important;
        border-radius: 10px;
        padding: 10px;
    }

    .back-btn {
        margin-top: 24px;
        font-size: $font-size-base-px + 9;
        color: green;
    }

    .custom_tab.active::after {
        position: absolute;
        content: "";
        top: 40px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 11px solid $theme-color;
    }
}



.product_details {
    .accordion-flush .accordion-item .accordion-button {
        border-radius: 0 !important;
    }

    .lable_icon {
        position: absolute;
        text-align: center;
        color: $theme-color;
        right: 8px;
        top: 4px;
        cursor: pointer;

        p {
            font-size: $font-size-base-px - 6 !important;
            margin: 0;
        }
    }
}

.advanced {
    .rti--container {
        max-height: 40px;
        overflow-y: auto;
        padding: 10px !important;

        .rti--tag {
            background: $sky_blue;
            color: $color-white;
            padding: 0px 5px;
            border-radius: 4px;

            button {
                color: $color-white;
                padding: 0 2px 0 6px;
            }

            button:hover {
                color: $red-color;
            }

            span {
                font-size: 12px !important;
            }
        }
    }
}
.supplier{
    .btn-icon{
        padding: 6px 6px !important;
    }
}

.port_lookup {
    .strick {
        color: $dark_red;
    }
 
    #left-tabs-example-tab-first{
        border: 1px solid;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        
    }
    #left-tabs-example-tab-second{
        border: 1px solid;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        background-color: $theme-color !important;
    }
    .nav-link{
        color: $theme-color;
    }
    @include sm
    {
        #left-tabs-example-tab-first{
            border-radius: 7px;
        }

        #left-tabs-example-tab-second{
            border-radius: 7px ;
    }

}
}

.addtab {
    .nav-pills .nav-link.active {
        background-color: $darl_blue !important;
        color: $color-white !important;
    }

    #left-tabs-example-tab-first .nav-link,
    #left-tabs-example-tab-second .nav-link {
        color: $theme-color !important;
    }

    #left-tabs-example-tab-first {
        border: 1px solid $theme-color;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #left-tabs-example-tab-second {
        border: 1px solid $theme-color;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }
}

.rti--container:focus-within {
    border-color: $sky_blue !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
}