@import '../../css/abstracts/abstract-dir';
@import '../../css/base/base-dir';
@import '../../css/utility/utility-dir';
.report {
    #sidebar-wrapper {
        width: 220px;
        overflow-y: hidden;
        background: $icon_bg_color;
        position: absolute;
        z-index: 10;
        height: 100%;
        transition: left 0.5s;

    }

    .sidebar-nav {
        padding-left: 0px;
    }

    div#page-content-wrapper {
        margin-left: 220px;
        transition: all 0.5s;
    }

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: $color-text;
    }

    .sidebar-nav li a:hover {
        text-decoration: none;
        color: $color-white;
        background: $theme-color;
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }

    sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }

    .sidebar-nav>.sidebar-brand {
        height: 65px;
        font-size: $font-size-base-px + 2;
        line-height: 60px;
    }

    .sidebar-nav>.sidebar-brand a {
        color: $color-text !important;
    }

    .sidebar-nav>.sidebar-brand a:hover {
        color: $color-text;
        background: none;
    }

    .addtab {
        position: relative;
        overflow: hidden;
    }

    .baricon {
        font-size: $font-size-base-px + 14;
        margin-right: 15px;
        color: $theme-color
    }


    @include sm {
        .addtab #left-tabs-example-tab-first {
            border-top-right-radius: 7px !important;
            border-bottom-right-radius: 7px !important;
        }

        .addtab #left-tabs-example-tab-second {
            border-top-left-radius: 7px !important;
            border-bottom-left-radius: 7px !important;
            margin-top: 10px;
        }
    }

}