// @import '~bootstrap/scss/bootstrap.scss';
@import '../../css/abstracts/abstract-dir';
@import '../../css/base/base-dir';
@import '../../css/utility/utility-dir';

.hightCanvas {
    canvas {
        max-height: 315px !important;
    }

    .chart {
        .bottomBorder {
            border-color: $theme-color;
            width: 70px !important;
        }

        .dateChange {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


}